.list {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 503px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nofilters {
  font-size: 15px;
  text-align: center;
}

/* //////// */

.morebtn {
  border: 0;
  width: 100%;
  background: #2196f3;
  border-radius: 5px;
  color: #fff;
  height: 50px;
  letter-spacing: .5px;
  line-height: 20px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}

.notActive {
  background: #ffffff;
  color: #4a4a4a;
}
